{{include file="head.html"}}
		<div class="container">
			<div class="main">
				<div class="header">
					<div class="header-left"></div>
					<div class="header-right"></div>
				</div>
				<div class="roundTime">
					<div class="no-prize-text">
						<div>很遗憾</div>
						<div>您没有得奖</div>
					</div>
				</div>
				<div class="no-prize-con">
					<div class="no-prize-con-text">请您继续努力，加油！</div>
					<div class="no-prize-con-btn"><a href="game.php">再次挑战</a></div>
				</div>
				
			</div>
			<div class="rollBg rollBgAnimation"></div>
		</div>
{{include file="foot.html"}}		
